{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="w-50 position-absolute top-50 start-50 translate-middle">
        <h1 class="text-center mb-3">Welcome Owleye</h1>
        <p class="text-center mb-5">Veuillez procéder a votre inscription</p>

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email,{'attr': {'class': 'form-control mb-3'}}) }}
            <div class="row g-3">
                <div class="col">
                {{ form_row(registrationForm.lastname,{'attr': {'class': 'form-control mb-3'}}) }}
                </div>
                <div class="col">
            {{ form_row(registrationForm.firstname,{'attr': {'class': 'form-control mb-3'}}) }}
                </div>
            </div>
        <div class="row g-3">
            <div class="col-8">
            {{ form_row(registrationForm.address,{'attr': {'class': 'form-control mb-3'}}) }}
            </div>
            <div class="col">
            {{ form_row(registrationForm.cp,{'attr': {'class': 'form-control mb-3'}}) }}
            </div>
        </div>
            {{ form_row(registrationForm.telephone,{'attr': {'class': 'form-control mb-3'}}) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password',
                'attr': {'class': 'form-control mb-3'}
            }) }}
            {{ form_row(registrationForm.agreeTerms,{'attr': {'class': 'mb-3'}}) }}

            <button type="submit" class="btn btn-primary w-100 mb-5">Register</button>
        {{ form_end(registrationForm) }}
        <p>Retour sur la page de <a href="{{ path('app_login') }}">Connexion</a></p>
    </div>
{% endblock %}
