{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}

    {% set url = ea_url()
        .setController('App\\Controller\\Admin\\UserCrudController')
        .setAction('new')
    %}
    {% set urlModify = ea_url()
        .setController('App\\Controller\\Admin\\UserModifyCrudController')
        .setAction('index')
    %}
    {% set urlCandidat = ea_url()
        .setController('App\\Controller\\Admin\\UserCandidatCrudController')
        .setAction('index')
    %}

    {% set urlEdit = ea_url()
        .setController('App\\Controller\\Admin\\UserProfileCrudController')
        .setAction('edit')
        .setEntityId(app.user.id)
    %}

    {% if is_granted('ROLE_COMMERCIAL') %}

        <h2 class="mt-3">Tableau de bord</h2>
    <div class="d-flex mt-4">
        <section class="col mr-3 bg-white rounded-2 p-4">
            <div class="row">
                <div class="card col p-3 m-1 justify-content-between bg-light">
                    <p class="h4 mb-3">{{ number_new_users['value'] }} Nouveaux Collaborateurs ajoutés</p>
                    <a href="{{ url }}" class="btn btn-outline-primary">Ajouter un utilisateur</a>
                </div>
                <div class="card col p-3 m-1 justify-content-between bg-light">
                    <p class="h4 mb-3">{{ number_modify_users['value'] }} Collaborateurs modifiés</p>
                    <a href="{{ urlModify }}" class="btn btn-outline-primary">Voir les utilisateurs modifiés</a>
                </div>

            </div>
            <div class="col d-flex mt-3">
                {% for user in new_users %}
                    {% set urlNewUser = ea_url()
                        .setController('App\\Controller\\Admin\\UserCrudController')
                        .setAction('detail')
                        .setEntityId(user.id)
                    %}
                    <div class="card ml-2 col">
                        <a href="{{ urlNewUser }}" class="">
                            <img src="" alt="">
                            <p>{{ user.firstname }} {{ user.lastname }}</p>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </section>
        <section class="col-4 bg-white p-4">

                <div class="card col p-3  m-1 mb-3 justify-content-between bg-light">
                    <p class="h5">{{ number_create_candidats['value'] }} Nouveaux Candidats</p>
                    <a href="{{ urlCandidat }}" class="btn btn-outline-primary">Voir les candidat</a>
                </div>

            <div class="col">
                {% for user in new_candidats %}
                    {% set urlNewUser = ea_url()
                        .setController('App\\Controller\\Admin\\UserCrudController')
                        .setAction('detail')
                        .setEntityId(user.id)
                    %}
                    <div class="p-2 card">
                        <a href="{{ urlNewUser }}" class="">
                            <img src="" alt="">
                            <p>{{ user.firstname }} {{ user.lastname }}</p>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>

    {% else %}
        <h2 class="mt-3">Mon profil</h2>
        {% block detail_fields %}
            <div class="row">
                <div class="profile-side col-3">
                    <div style="width: 200px; height: 200px; background-color: #9fa9b7; margin: 0 auto; margin-bottom: 30px;
                    border-radius: 10px;"></div>
                    <p>{{ app.user.firstname }} {{ app.user.lastname }}</p>
                    <p>Telephone <span>{{ app.user.telephone }}</span></p>
                    <p>Email <span>{{ app.user.email }}</span></p>
                    <p>Date d'anniversaire <span>{{ app.user.createdAt|date("m/d/Y") }}</span></p>
                    <a href="{{ urlEdit }} " class="btn
                    btn-primary">Modifier mon profil</a>
                </div>
                <div class="col">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                               aria-controls="home" aria-selected="true">Compétences</a>
                        </li>
                        {% if is_granted('ROLE_COLLABORATOR') %}
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                               aria-controls="profile" aria-selected="false">Historique des missions</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                               aria-controls="contact" aria-selected="false">fichiers</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        {% if app.user.skills|length > 0%}
                            <div class="tab-pane fade show active p-3 bg-light" id="home" role="tabpanel"
                                 aria-labelledby="home-tab">
                                <div class="d-flex">
                                {% for skills in app.user.Skills %}
                                    <div class="badge badge-info p-2">
                                        <p class="text-left">{{ app.user.skills}}</p>
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                        {% else %}
                            <div class="tab-pane fade show active p-3 bg-light" id="home" role="tabpanel"
                                 aria-labelledby="home-tab">
                                <p>Aucune compétence</p>
                            </div>
                        {% endif %}
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            {% if app.user.missions|length > 0 %}
                            <div class="mb-3 mt-5">

                                {% if app.user.missions|last.endAt is defined %}
                                    <p>Mission en cours:</p>

                                    {% if app.user.missions|last.endAt|date("d/m/Y") > 'now'|date('d/m/Y')  %}
                                        <div class="card w-100 p-3 flex-row">
                                            <div class="mr-5">
                                                <p>{{ app.user.missions|last.compagnies }}</p>
                                                <p>Début: <time>{{ user.missions|last.beginAt|date("d/m/Y") }}</time></p>
                                                <p>Fin: <time>{{ user.missions|last.endAt|date("d/m/Y") }}</time></p>
                                            </div>
                                            <div class="mr-5">
                                                <p>Compétences:</p>
                                                {% for skill in app.user.missions|last.skills %}
                                                    <p>{{ skill }}</p>
                                                {% endfor %}
                                            </div>
                                            <p class="d-inline-block">{{ user.missions|last.description }}</p>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <p>Missions antérieures</p>
                            {% for mission in app.user.missions %}
                                {% if mission.endAt|date("d/m/Y") < 'now'|date('d/m/Y')  %}
                                    <div>
                                        <div class="card w-100 p-3 flex-row">
                                            <div class="mr-5">
                                                <p>{{ mission.compagnies }}</p>
                                                <p>Début: <time>{{ mission.beginAt|date("d/m/Y") }}</time></p>
                                                <p>Fin: <time>{{ mission.endAt|date("d/m/Y") }}</time></p>
                                            </div>
                                            <div class="mr-5">
                                                <p>Compétences:</p>
                                                {% for skill in mission.skills %}
                                                    <p>{{ skill }}</p>
                                                {% endfor %}
                                            </div>
                                            <p class="d-inline-block">{{ mission.description }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            {% else %}
                                <div class="tab-pane fade show active p-3 bg-light" id="home" role="tabpanel"
                                     aria-labelledby="home-tab">
                                    <p>Aucune missions</p>
                                </div>
                            {% endif %}
                        </div>
                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
                    </div>
                </div>
            </div>
        {% endblock %}
    {% endif%}
{% endblock %}







