{% extends '@EasyAdmin/page/content.html.twig' %}
{#{% set user = entity.instance %}#}

{% set urlEdit = ea_url()
    .setController('App\\Controller\\Admin\\UserProfileCrudController')
    .setAction('edit')
    .setEntityId(app.user.id)
%}

{% block content_footer_wrapper '' %}
    {% block main %}
        {% block title %}
            <h1 class="mb-5 mt-3 h2">Mon profil</h1>
        {% endblock %}
        {% block detail_fields %}
            <div class="row">
                <div class="profile-side col-3">
                    <div style="width: 200px; height: 200px; background-color: #9fa9b7; margin: 0 auto; margin-bottom: 30px;
                    border-radius: 10px;"></div>
                    <p>{{ app.user.firstname }} {{ app.user.lastname }}</p>
                    <p>Telephone <span>{{ app.user.telephone }}</span></p>
                    <p>Email <span>{{ app.user.email }}</span></p>
                    <p>Date d'anniversaire <span>{{ app.user.createdAt|date("m/d/Y") }}</span></p>
                    <a href="{{ urlEdit }}" class="btn btn-primary">Modifier mon profil</a>
                </div>
                <div class="col">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                               aria-controls="home" aria-selected="true">Compétences</a>
                        </li>
                        {% if app.user.roles != "ROLE_CANDIDAT" %}
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                               aria-controls="profile" aria-selected="false">Historique des missions</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                               aria-controls="contact" aria-selected="false">fichiers</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active p-3 bg-light" id="home" role="tabpanel"
                             aria-labelledby="home-tab">
                            {% if app.user.skills|length > 0 %}
                                <div class="d-flex">
                                    {% for skills in app.user.Skills %}
                                        <div class="badge badge-info p-2">
                                            <p class="text-left">{{ skills}}</p>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div class="tab-pane fade show active p-3 bg-light" id="home" role="tabpanel"
                                     aria-labelledby="home-tab">
                                    <p>Aucune compétence</p>
                                </div>
                            {% endif %}
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            {% if app.user.missions|length > 0 %}
                                <div class="mb-3 mt-5">
                                    <p>Mission en cours:</p>
                                    {% for mission in app.user.missions %}
                                        {% if mission.endAt|date('Y/m/d') > 'now'|date('Y/m/d') and mission.beginAt|date
                                            ('Y/m/d') < 'now'|date('Y/m/d') %}
                                            <div class="card w-100 p-3 flex-row">
                                                <div class="mr-5">
                                                    <p>{{ mission.compagnies }}</p>
                                                    <p>Début: <time>{{ mission.beginAt|date("d/m/Y") }}</time></p>
                                                    <p>Fin: <time>{{ mission.endAt|date("d/m/Y") }}</time></p>
                                                </div>
                                                <div class="mr-5">
                                                    <p>Compétences:</p>
                                                    {% for skill in mission.skills %}
                                                        <p>{{ skill }}</p>
                                                    {% endfor %}
                                                </div>
                                                <p class="d-inline-block">{{ mission.description }}</p>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <p>Missions antérieures</p>
                                {% for mission in app.user.missions %}
                                    {% if mission.endAt|date('Y/m/d') < 'now'|date('Y/m/d') %}
                                        <div>
                                            <div class="card w-100 p-3 flex-row">
                                                <div class="mr-5">
                                                    <p>{{ mission.compagnies }}</p>
                                                    <p>Début: <time>{{ mission.beginAt|date("d/m/Y") }}</time></p>
                                                    <p>Fin: <time>{{ mission.endAt|date("d/m/Y") }}</time></p>
                                                </div>
                                                <div class="mr-5">
                                                    <p>Compétences:</p>
                                                    {% for skill in mission.skills %}
                                                        <p>{{ skill }}</p>
                                                    {% endfor %}
                                                </div>
                                                <p class="d-inline-block">{{ mission.description }}</p>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <div class="mb-3 mt-5">
                                    <p>Aucune missions</p>
                                </div>
                            {% endif %}
                        </div>
                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
                    </div>
                </div>
            </div>
        {% endblock %}
    {% endblock %}


