{% extends '@EasyAdmin/page/content.html.twig' %}
{% set user = entity.instance %}

{% set urlEdit = ea_url()
    .setController('App\\Controller\\Admin\\UserCrudController')
    .setAction('edit')
    .setEntityId(user.id)
%}

{% block content_footer_wrapper '' %}
    {% block main %}
        {% block title %}
            <h1 class="mb-5 mt-3 h2">Profile de {{ user.firstname }} {{ user.lastname }}

            {% if user.roles[0] == "ROLE_CANDIDAT" %}
                <span>[CANDIDAT]</span>
            {% endif %}
            </h1>
        {% endblock %}
        {% block detail_fields %}
            <div class="row">
                <div class="profile-side col-3">
                    <div style="width: 200px; height: 200px; background-color: #9fa9b7; margin: 0 auto; margin-bottom: 30px;
                    border-radius: 10px;"></div>
                    <p>{{ user.firstname }} {{ user.lastname }}</p>
                    <p>Telephone <span>{{ user.telephone }}</span></p>
                    <p>Email <span>{{ user.email }}</span></p>
                    <p>Date d'anniversaire <span>{{ user.createdAt|date("m/d/Y") }}</span></p>
                    {% if user.id != app.user.id  %}
                        <a href="{{ urlEdit }}" class="btn btn-primary">Modifier le profil</a>
                    {% else %}
                        <a href="{{ urlEdit }}" class="btn btn-primary">Modifier mon profil</a>
                    {% endif %}
                </div>
                <div class="col">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                               aria-controls="home" aria-selected="true">Compétences</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                               aria-controls="profile" aria-selected="false">Historique des missions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                               aria-controls="contact" aria-selected="false">fichiers</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        {% if user.skills|length > 0 %}
                        <div class="tab-pane fade show active p-3 bg-light" id="home" role="tabpanel"
                             aria-labelledby="home-tab">
                            <div class="d-flex">
                                {% for skills in user.Skills %}
                                    <div class="badge badge-info p-2">
                                        <p class="text-left">{{ skills}}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% else %}
                            <div class="tab-pane fade show active p-3 bg-light" id="home" role="tabpanel"
                                 aria-labelledby="home-tab">
                                <p>Aucune compétence</p>
                            </div>
                        {% endif %}
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            {% if user.missions|length > 0 %}
                            <div class="mb-3 mt-5">
                                {% if user.missions.endAt is defined %}
                                    <p class="h4 mb-3">Mission en cours:</p>
                                    {% for mission in user.missions %}
                                        {% if mission.endAt|date('Y/m/d') > 'now'|date('Y/m/d') and mission.beginAt|date
                                            ('Y/m/d') < 'now'|date('Y/m/d') %}
                                            <div class="card w-100 p-3 flex-row">
                                                <div class="mr-5">
                                                    <p>{{ mission.compagnies }}</p>
                                                    <p>Début: <time>{{ mission.beginAt|date("d/m/Y") }}</time></p>
                                                    <p>Fin: <time>{{ mission.endAt|date("d/m/Y") }}</time></p>
                                                </div>
                                                <div class="mr-5">
                                                    <p>Compétences:</p>
                                                    {% for skill in mission.skills %}
                                                        <p>{{ skill }}</p>
                                                    {% endfor %}
                                                </div>
                                                <p class="d-inline-block">{{ mission.description }}</p>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="mb-3 mt-5">
                                {% if user.missions.endAt is defined %}
                                <p class="h4 mb-3">Missions antérieures</p>
                                {% for mission in user.missions %}
                                    {% if mission.endAt|date('Y/m/d') < 'now'|date('Y/m/d') %}
                                        <div>
                                            <div class="card w-100 p-3 flex-row">
                                                <div class="mr-5">
                                                    <p>{{ mission.compagnies }}</p>
                                                    <p>Début: <time>{{ mission.beginAt|date("d/m/Y") }}</time></p>
                                                    <p>Fin: <time>{{ mission.endAt|date("d/m/Y") }}</time></p>
                                                </div>
                                                <div class="mr-5">
                                                    <p>Compétences:</p>
                                                    {% for skill in mission.skills %}
                                                        <p>{{ skill }}</p>
                                                    {% endfor %}
                                                </div>
                                                <p class="d-inline-block">{{ mission.description }}</p>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                {% endif %}
                            </div>
                            {% else %}
                            <div class="mb-3 mt-5">
                                <p>Aucune missions</p>
                            </div>
                            {% endif %}
                        </div>
                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block delete_form %}
            {{ include('@EasyAdmin/crud/includes/_delete_form.html.twig', { entity_id: entity.primaryKeyValue }, with_context = false) }}
        {% endblock delete_form %}
    {% endblock %}


